{% extends "profile/base_profile.html" %}
{% block title %}change password{% endblock %}
{% block content %}


<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="register-main">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">change password</button>
            </form>
        </div>    
    </div>
</header>



{% endblock %}